

body{
    color:#505050;
    font-family:Arial, Helvetica, sans-serif;
}


/* TITULO */
.titulo_lojinha{
    background-color:#9AAE04;
    margin-top:auto; 

}

/* FORMULÁRIO */
.valor_quantidade{
    display: flex;
    justify-content: space-between;

}


.adicionaProduto{
    margin-top: 100px;  

}

/* BOTÃO */

.botao_adiciona_exclui{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.btn-cancelar, .btn-adicionar {
    background-color: transparent;
    color: #000000;
    border: 1px solid #ced4da;
    padding:10px 60px;

}

/* MODAL */
.modal-footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;

}
.bi-exclamation-triangle-fill{
    position: relative;
    left: 224px;
}
.modal-title{
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;

}

/* BOTÃO MODAL */

.btn{
    background-color: transparent;
    color: #000000;
    border: 1px solid #ced4da;
    padding:10px 60px;
}



.btn-primary:hover{
    background-color:#6785C1;
    border: none;

}
.btn-secondary:hover{
    background-color:#6785C1;
    border: none;

}


      /* FOOTER */
      .p_footer{   
        margin-bottom:100px;
    }
    footer{    
        padding:5px;  
        margin-top:50px;    
    }
