


body{
    color:#505050;
    font-family:Arial, Helvetica, sans-serif;
}


.titulo_lojinha{
    background-color:#9AAE04;
    margin-top:auto;
  

}

.valor_quantidade{
    display: flex;
    justify-content: space-between;

}


.adicionaProduto{
    margin-top: 100px;  

}

.botao_adiciona_exclui{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}


 

.btn-cancelar, .btn-adicionar {
    background-color: transparent;
    color: #000000;
    border: 1px solid #ced4da;
    padding:10px 60px;

}
.modal-footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;

}
.bi-exclamation-triangle-fill{
    position: relative;
    left: 224px;
}
.modal-title{
    text-align: center;
    margin-top: 50px;

}

.btn{
    background-color: transparent;
    color: #000000;
    border: 1px solid #ced4da;
    padding:10px 60px;
}



.btn-primary:hover{
    background-color:#6785C1;
    border: none;

}
.btn-secondary:hover{
    background-color:#6785C1;
    border: none;

}
