


.adicionaProduto{
    margin-top: 100px;
   
   

}

.botao_adiciona_exclui{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}


 

.btn-cancelar, .btn-adicionar {
    background-color: transparent;
    color: #000000;
    border: 1px solid #ced4da;
    padding:10px 60px;

}
.modal-footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;

}
.bi-exclamation-triangle-fill{
    position: relative;
    left: 224px;
}
.modal-title{
    text-align: center;
    margin-top: 50px;

}

.btn{
    background-color: transparent;
    color: #000000;
    border: 1px solid #ced4da;
    padding:10px 60px;
}