
@media (max-width:375px){

    .container_body{
        overflow-x: hidden;
    } 

   

/* LOGOTIPO */
    .logotipo{
        display: none;
    }
    .img_Logo{
        display: none;   

    }

    /* SWITCH */
    .form-switch{
        margin-left:250px;                       
    }

    .form-switch .form-check-input {
        height: 1.5em;
        width: 3em;
       
    }

    .container_body {
        margin-top: 50px;
    }


    /* BUSCA */
    .titulo_busca{
        font-size: 1.2em;     

    }  

    /* BOTAO ADICIONA */
    .adiciona-produto {
        display: flex;
        position: relative;
        left: 200px;
        bottom: 91px;
        padding: 10px;
    }

    .adiciona{
        width: 120px;
        height: 60px;
        font-size: 1em;
    }
    p{
        font-size: 1.4em;
    }

    /*BOTAO SELECIONA */

    .select_itens{
        margin-top:40px;
        margin-left:30px;
        width:120px;
        height:30px;
        border-color:#ced4da;   
        
    }

    /* CARDS */

    .card{
        width: 182px;    
        flex-direction: row;
        margin-left: 10px;

    }

    /* FOOTER */
    
    .p_footer{   
        margin-bottom:100px;

    }

    footer{
    
        padding:10px;
    
    
    }


}









