    
html{
    overflow-x: hidden;
    overflow-y: auto;
   
}

body{
    color:#505050;
    font-family:Arial, Helvetica, sans-serif;
}

/* LOGOTIPO */
.logotipo{
    position: relative;
    bottom: 125px;
    left: 100px;     
}

.img_Logo{
    width: 80px; 

}
.icone_pessoa{
    position: relative;
    bottom:60px;
    width:25px;
    height:25px;
    color: white;
 
}

/* TITULO */
.titulo_lojinha{
    background-color:#9AAE04;
    padding: 10px;
}

.titulo{   
    text-align: center;
    margin-top:15px;
    color: #ffffff;
   
}


.container_body{
    max-width:900px;
    margin: 0 auto;
    }



/* switches */
.form-switch{
    display: flex;
    margin-left:1100px;
  
}

.form-check-input:checked{
    background-color:#9AAE04;
    border-color:#9AAE04;   

}

/* campo de busca */

.titulo_busca{
    margin-left:30px;
    
    
} 
.busca{
    width: 100%;
    padding: 0 30px;

}
.campo-busca{
    border-radius: 20px; 
    margin:auto;
 
}


.icon-lupa{
   position: relative;
   bottom:30px;
   left:30px;

    
}



/* filtro */
.select_itens{
    margin-top:40px;
    margin-left:123px;
    width:120px;
    border-color:#ced4da;

    
}

.adiciona-produto{
   display:flex;
   position:relative;
   left:710px;
   bottom: 40px;
  
}
.adiciona{
    font-size:12px;
    border-radius:10px;
    padding:10px;
    border: solid 1px #ced4d4;
    background-color:#9AAE04;
    color: #ffffff;
}


#container_cards{
    margin-top:30px;
}


/* //card */

.card{
    width:200px; 
    height: 300px; 
    margin-left:100px;  
    flex-direction: row;
    border: none; 

}
.valor_produto{
    font-weight:600;
    font-size:18px;
}


 

.icons_Crud{
   margin-bottom: 500px;
   position: relative;
   bottom: 150px;
   left:100px;


}
 

/* paginação */

.paginacao{
    display: flex;
    margin-top:100px;
  justify-content:center;
  color:#9AAE04;
 
    

}
.page-link{
    color:#505050;


}

/* modal */
.modalSucesso{
    text-align:center;
}


.p_footer{
    color: #ffffff;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top:100px;


}


footer{
    background-color:#6785C1;
    padding:60px;
    font-weight: bold;  
   
}







