/* *{
    padding: 0;
} */



main{
    /* margin-left:20px;   */


}

.titulo{
    text-align: center;
    margin-top:15px;
    border-bottom: 1px solid #000000;
   
}

/* 
menu */




/* switches */
.form-switch{
    display: flex;
    margin-left:1300px;
  
}





/* campo de busca */

.titulo_busca{
    /* position:relative; */
    /* bottom:20px; */
margin-left:200px;
 


} 


.x{
    padding: 5px 390px;
    padding-left:400px ;
    padding-right:400px;
    border-radius: 20px;   
    display: flex;
    margin:auto;

}


/* filtro */
.select_itens{
    margin-top:40px;
    margin-left: 150px;
    
}


/* cards */
.row{
    display: flex;
    justify-content:space-around;

   
}

.card{
    margin-left:100px;
 
} 
 

/* paginação */

.paginacao{
    display: flex;
    margin-top:100px;
  justify-content:center;
 
    

}
.page-link{
    color:#000000;


}





