/* *{
    padding: 0;
} */


.titulo{
    text-align: center;
    margin-top:15px;
    border-bottom: 1px solid #000000;
   
}

/* 
menu */




/* switches */
.form-switch{
    display: flex;
    margin-left:1300px;
  
}





/* campo de busca */

.titulo_busca{
    /* position:relative; */
    /* bottom:20px; */
margin-left:200px;
 


} 


.x{
    padding: 5px 390px;
    padding-left:400px ;
    padding-right:400px;
    border-radius: 20px;   
    display: flex;
    margin:auto;

}


/* filtro */
.select_itens{
    margin-top:40px;
    margin-left: 150px;
    
}

.adiciona-produto{
   display:flex;
   position:relative;
   left:1160px;
  
}
.adiciona{
    font-size:12px;
    border-radius:10px;
    padding:10px;
}


/* cards */
.row{
    display: flex;
    justify-content:space-around;
    margin-top:50px;

   
}

.card{
    margin-left:100px;
 
} 

.icons_Crud{
   padding-left:160px;


}
 

/* paginação */

.paginacao{
    display: flex;
    margin-top:100px;
  justify-content:center;
 
    

}
.page-link{
    color:#000000;


}

/* modal */
.modalSucesso{
    text-align:center;
}

