<!DOCTYPE html>
<html ng-app="lojaModulo">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/adiciona.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

  <script src="../angular/angular.js"></script>
  <script src="../controller.js"></script>
  <script src="../node_modules/angularjs-currency-input-mask/dist/angularjs-currency-input-mask.min.js"></script>


  <!-- <title>Lojinha virtual do Só Vamu</title> -->
</head>


<body ng-controller="indexController">

  <h3 class="titulo" ng-bind="titulo"></h3>


  <!-- menu -->  
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  </header>
  <main>



    <!-- switch -->
    <div class="form-check form-switch ">
      <input class="form-check-input " type="checkbox" id="flexSwitchCheckDefault" ng-click="exibir()">
    </div>

    <!-- Campo de busca -->
    <div class=busca>
      <div class="titulo_busca" ng-bind="tituloBusca"></div>
      <input class="x" type="text" ng-model="busca_Projeto" placeholder="">
    </div>



    <!--filtro(opções) -->
    <select class="select_itens border-dark mb-3" ng-model="produtoSelecionado"
      ng-options="lista.produto for lista in listaProdutos" ng-change="ordenacao">
    </select>
    <!-- {{produtoSelecionado.produto}} -->



    <!-- adiciona produto -->
    <div class="adiciona-produto">
      <a href="./telaAdicionar.html">
        <button class="adiciona" ng-show="visivel">Adicionar Produto</button>
      </a>
    </div>



    <!-- cards-->
    <div class="row">

      <div class="card border-dark mb-3" style="width: 15rem" ;
        ng-repeat="lista in listaProdutos | filter:busca_Projeto">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body cards">          
          <p>{{lista.nome}}</p>
          <p>{{lista.descricao}}</p>
          <p>{{lista.valor}}</p>
        </div>
        <div class="icons_Crud" ng-show="visivel">

          <!-- edita produto -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
            data-bs-toggle="modal" data-bs-target="#exampleModal" viewBox="0 0 16 16">
            <path
              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
          </svg>

          <!-- exclui produto -->
          <svg ng-click="exclui_produto(adicionaProduto)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
            viewBox="0 0 16 16">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
            <path fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
          </svg>
        </div>

      </div>


    </div>

    <!-- modal editar -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edição do produto: "NOME DO PRODUTO"</h5>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3 row">
                <label for="inputProduto" class="col-sm-5 col-form-label">Nome do produto:</label>
                <div class="col-sm-7">
                  <input type="text" ng-required="true" ng-model="produto.nome" class="form-control" id="produto">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputDecricao" class="col-sm-5 col-form-label">Descrição do produto:</label>
                <div class="col-sm-7">
                  <input type="text" ng-model="produto.descricao" ng-required="true" class="form-control"
                    id="inputPassword">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputValor" class="col-sm-5 col-form-label">Valor do produto:</label>
                <div class="col-sm-7">
                  <input type="text" ng-model="produto.valor" mask-currency="'R$'"
                    config="{group:'.',decimal:',',indentation:' '}" name="valor" ng-required="true"
                    class="form-control" id="inputPassword">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputQuantidade" class="col-sm-5 col-form-label">Quantidade do produto:</label>
                <div class="col-sm-7">
                  <input type="number" ng-required="true" ng-model="produto.quantidade" class="form-control"
                    id="inputPassword" min="1">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer footer-editar">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
        </div>
      </div>
    </div>




    <!-- paginação -->
    <nav class="paginacao">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Anterior">
            <span aria-hidden="true">&laquo;</span>
            <!-- <span class="sr-only">Anterior</span> -->
          </a>
        </li>
        <li class="page-item "><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <a class="page-link" href="#" aria-label="Próximo">
          <span aria-hidden="true">&raquo;</span>
          <!-- <span class="sr-only">Próximo</span> -->
        </a>
        </li>
      </ul>
    </nav>

  </main>

</body>

</html>