<!-- modal editar: -->

<div class="modal fade modalEditar" id="editaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title" id="exampleModalLabel">Edição do produto: {{produtoSelecionado.nome}}</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body" >

        <!-- formulário edita produto -->
        <form ng-submit="edita_produto(editaProduto.$valid, produtoSelecionado)" name="editaProduto" class="editaProduto" >
          <div class="mb-3 row">
            <input type="hidden" ng-model="editar.id" />
            <label for="inputProduto" class="col-sm-5 col-form-label">Nome do produto:</label>
            <div class="col-sm-7">
              <input type="text" ng-required="true" ng-model="produtoSelecionado.nome" class="form-control" id="produto">


            </div>

          </div>
          <div class="mb-3 row">
            <label for="inputDecricao" class="col-sm-5 col-form-label">Descrição do produto:</label>
            <div class="col-sm-7">
              <input type="text" ng-model="produtoSelecionado.descricao" ng-required="true" class="form-control">

            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputValor" class="col-sm-5 col-form-label">Valor do produto:</label>
            <div class="col-sm-7">
              <input type="text" ng-model="produtoSelecionado.valor" mask-currency="'R$'"
                config="{group:'.',decimal:',',indentation:' '}" name="valor" ng-required="true" class="form-control" min="0">
            </div>
          </div>

          
          <div class="mb-3 row">
            <label for="inputQuantidade" class="col-sm-5 col-form-label">Quantidade do produto:</label>
            <div class="col-sm-7">
              <input type="number" ng-required="true" ng-model="produtoSelecionado.quantidade" class="form-control" min="0">
            </div>
          </div>
          <div class="modal-footer footer-editar">           
            <button type="button" class="btn btn-secondary">Cancelar</button>
            <button type="submit" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalEditarErro">Confirmar</button>
            <!-- <input type="submit" class="btn btn-secondary"  data-bs-dismiss="modal" value="Confirmar" data-bs-toggle="modal" data-bs-target="#modalEditarSucesso"> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>