*{
    padding: 0;
}

/* 
titulo */
.titulo{
    text-align: center;
    margin-top:15px;
    border-bottom: 1px solid #000000;
   
}

/* 
menu */




/* switches */
.form-switch{
    display: flex;
    margin-left:1300px;
  
}

/* .header{
    margin-left: 100px;
} */

/* 

campo de busca */


.titulo_busca{
    position:relative;
    bottom:20px;


} 


.x{
    padding: 5px 450px;
    border-radius: 20px;
}


/* filtro */
.select_itens{
    margin-top:40px;
}


/* cards */
.cards{
    display: flex;
    flex-direction: column;  
}








